# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Scratch helper scripts
download_assets.py
/scripts/
/FABA-Catalog-TR.pdf

/Drone_flying*.mp4
/Industrial_worker*.mp4
.vercel
.env*
/Gray_map_of_Turkey_pulsing*.mp4
/Corporate_logistics_animation_fo*.mp4
